# Files
This section explores how to work with various dataset files.
We focus on the following file format
* basic I/O
* .txt
* csv
* Excel
* JSON
* XML
* Reading file from webiste
* Reading file from server-based S3 protocol

# 1. Basic I/O

In [1]:
# get all files and directories
import os

items = os.listdir()
items

['PostgreSQL Database .ipynb',
 'minio-data',
 '.ipynb_checkpoints',
 'MySQL Database .ipynb',
 'datasets',
 'Untitled.ipynb',
 'SQLite Database.ipynb',
 'Section 2 - Files.ipynb',
 'demo.db',
 'Hello World.ipynb',
 'minio',
 'SQL Server Database .ipynb']

In [2]:
items = os.listdir('/home/agusk/py-etl/datasets')
items

['advertising.txt',
 'new-advertising.xlsx',
 'employees.txt',
 'employees.xml',
 '.minio.sys',
 'advertising.xlsx',
 'Boston.csv',
 'new-advertising',
 'advertising.csv',
 'new-employees.json',
 'iris.csv',
 'new-employees.xml',
 'new-advertising.csv',
 'employees.json',
 'new-employees1.json',
 'new-advertising.json']

In [3]:
# get all files and directories with full path

mypath = '/home/agusk/py-etl/'
items = [os.path.join(mypath, f) for f in os.listdir(mypath)]
items

['/home/agusk/py-etl/PostgreSQL Database .ipynb',
 '/home/agusk/py-etl/minio-data',
 '/home/agusk/py-etl/.ipynb_checkpoints',
 '/home/agusk/py-etl/MySQL Database .ipynb',
 '/home/agusk/py-etl/datasets',
 '/home/agusk/py-etl/Untitled.ipynb',
 '/home/agusk/py-etl/SQLite Database.ipynb',
 '/home/agusk/py-etl/Section 2 - Files.ipynb',
 '/home/agusk/py-etl/demo.db',
 '/home/agusk/py-etl/Hello World.ipynb',
 '/home/agusk/py-etl/minio',
 '/home/agusk/py-etl/SQL Server Database .ipynb']

In [4]:
# get only files from a directory
import os
from os import path

mypath = '/home/agusk/py-etl/'
files = [f for f in os.listdir(mypath) if path.isfile(path.join(mypath, f))]
files

['PostgreSQL Database .ipynb',
 'MySQL Database .ipynb',
 'Untitled.ipynb',
 'SQLite Database.ipynb',
 'Section 2 - Files.ipynb',
 'demo.db',
 'Hello World.ipynb',
 'minio',
 'SQL Server Database .ipynb']

In [5]:
# get only directories from a directory
import os
from os import path

mypath = '/home/agusk/py-etl/'
files = [f for f in os.listdir(mypath) if path.isdir(path.join(mypath, f))]
files

['minio-data', '.ipynb_checkpoints', 'datasets']

In [6]:
# get files with wildcards
import glob

lists = glob.glob('/home/agusk/py-etl/datasets/*.csv')
lists

['/home/agusk/py-etl/datasets/Boston.csv',
 '/home/agusk/py-etl/datasets/advertising.csv',
 '/home/agusk/py-etl/datasets/iris.csv',
 '/home/agusk/py-etl/datasets/new-advertising.csv']

In [7]:
import os
import shutil 

def listing(mypath):
    items = [os.path.join(mypath, f) for f in os.listdir(mypath)]
    for item in items:
        print(item)    
    

# create a folder
print('create a folder')
dir_path = '/home/agusk/py-etl/datasets/newfolder'
if not os.path.exists(dir_path):
    os.makedirs(dir_path)

listing('/home/agusk/py-etl/datasets/')
print()

# copy file
print('copy file')
source = '/home/agusk/py-etl/datasets/advertising.txt'
destination = '/home/agusk/py-etl/datasets/newfolder/advertising.txt'

shutil.copy(source,destination)
listing('/home/agusk/py-etl/datasets/newfolder')
print()

# rename file
print('rename file')
os.rename('/home/agusk/py-etl/datasets/newfolder/advertising.txt', '/home/agusk/py-etl/datasets/newfolder/advertising2.txt')
listing('/home/agusk/py-etl/datasets/newfolder')
print()

# move file
print('move file')
shutil.move('/home/agusk/py-etl/datasets/newfolder/advertising2.txt', '/home/agusk/py-etl/datasets/newfolder/advertising5.txt')
listing('/home/agusk/py-etl/datasets/newfolder')
print()  

# delete a file
print('delete a file')
os.remove('/home/agusk/py-etl/datasets/newfolder/advertising5.txt')
listing('/home/agusk/py-etl/datasets/newfolder')
print()  

# delete folder
print('delete folder')
shutil.rmtree(dir_path)
listing('/home/agusk/py-etl/datasets/')

create a folder
/home/agusk/py-etl/datasets/advertising.txt
/home/agusk/py-etl/datasets/new-advertising.xlsx
/home/agusk/py-etl/datasets/employees.txt
/home/agusk/py-etl/datasets/employees.xml
/home/agusk/py-etl/datasets/.minio.sys
/home/agusk/py-etl/datasets/advertising.xlsx
/home/agusk/py-etl/datasets/Boston.csv
/home/agusk/py-etl/datasets/new-advertising
/home/agusk/py-etl/datasets/advertising.csv
/home/agusk/py-etl/datasets/new-employees.json
/home/agusk/py-etl/datasets/iris.csv
/home/agusk/py-etl/datasets/new-employees.xml
/home/agusk/py-etl/datasets/newfolder
/home/agusk/py-etl/datasets/new-advertising.csv
/home/agusk/py-etl/datasets/employees.json
/home/agusk/py-etl/datasets/new-employees1.json
/home/agusk/py-etl/datasets/new-advertising.json

copy file
/home/agusk/py-etl/datasets/newfolder/advertising.txt

rename file
/home/agusk/py-etl/datasets/newfolder/advertising2.txt

move file
/home/agusk/py-etl/datasets/newfolder/advertising5.txt

delete a file

delete folder
/home/agusk/py-etl/datasets/advertising.txt
/home/agusk/py-etl/datasets/new-advertising.xlsx
/home/agusk/py-etl/datasets/employees.txt
/home/agusk/py-etl/datasets/employees.xml
/home/agusk/py-etl/datasets/.minio.sys
/home/agusk/py-etl/datasets/advertising.xlsx
/home/agusk/py-etl/datasets/Boston.csv
/home/agusk/py-etl/datasets/new-advertising
/home/agusk/py-etl/datasets/advertising.csv
/home/agusk/py-etl/datasets/new-employees.json
/home/agusk/py-etl/datasets/iris.csv
/home/agusk/py-etl/datasets/new-employees.xml
/home/agusk/py-etl/datasets/new-advertising.csv
/home/agusk/py-etl/datasets/employees.json
/home/agusk/py-etl/datasets/new-employees1.json
/home/agusk/py-etl/datasets/new-advertising.json

## 2. Text File

In [8]:
import pandas as pd
import numpy as np

In [9]:
pd.__version__, np.__version__

('1.2.3', '1.20.1')

In [10]:
# reading .txt file
df=pd.read_csv('datasets/advertising.txt', sep=',')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [11]:
# writing a txt file
data = {'Gender': ['F', 'M', 'F'],
        'ID': ['A01', 'A02', 'A03'],
        'Age': [30, 26, 22]}


df = pd.DataFrame(data, columns=['ID','Gender', 'Age'])
df

    ID Gender  Age
0  A01      F   30
1  A02      M   26
2  A03      F   22

In [12]:
df.to_csv('datasets/employees.txt', sep='\t', index=False)

## 3. CSV File

In [13]:
# reading .csv file
df=pd.read_csv('datasets/advertising.csv', sep=',')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [14]:
# writing .csv file
df.to_csv('datasets/new-advertising.csv', sep=';', index=False)

## 3. Excel File

In [38]:
# !pip3 install xlrd
!pip3 install openpyxl

Collecting openpyxl
  Downloading openpyxl-3.0.7-py2.py3-none-any.whl (243 kB)
     |████████████████████████████████| 243 kB 16.4 MB/s eta 0:00:01
Collecting et-xmlfile
  Downloading et_xmlfile-1.0.1.tar.gz (8.4 kB)
Building wheels for collected packages: et-xmlfile
  Building wheel for et-xmlfile (setup.py) ... done
  Created wheel for et-xmlfile: filename=et_xmlfile-1.0.1-py3-none-any.whl size=8915 sha256=258286a88d5b9b7a48c7594b7a74f2885f9fcf42297579b3d95694f2f7a66412
  Stored in directory: /home/agusk/.cache/pip/wheels/6e/df/38/abda47b884e3e25f9f9b6430e5ce44c47670758a50c0c51759
Successfully built et-xmlfile
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.0.1 openpyxl-3.0.7

In [15]:
# reading Excel

df=pd.read_excel('datasets/advertising.xlsx','advertising')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [16]:
df=pd.read_excel('datasets/advertising.xlsx','new-advertising')
df

       TV  Internet  Newspaper
0   195.4      47.7       52.9
1    67.8      36.6      114.0
2   281.4      39.6       55.8
3    69.2      20.5       18.3
4   147.3      23.9       19.1
5   218.4      27.7       53.4
6   237.4       5.1       23.5
7    13.2      15.9       49.6
8   228.3      16.9       26.2
9    62.3      12.6       18.3
10  262.9       3.5       19.5
11  142.9      29.3       12.6
12  240.1      16.7       22.9
13  248.8      27.1       22.9

In [17]:
# writing to excel file
df.to_excel('datasets/new-advertising.xlsx',sheet_name='MySheet', index = False)
# check
df=pd.read_excel('datasets/new-advertising.xlsx','MySheet')
df

       TV  Internet  Newspaper
0   195.4      47.7       52.9
1    67.8      36.6      114.0
2   281.4      39.6       55.8
3    69.2      20.5       18.3
4   147.3      23.9       19.1
5   218.4      27.7       53.4
6   237.4       5.1       23.5
7    13.2      15.9       49.6
8   228.3      16.9       26.2
9    62.3      12.6       18.3
10  262.9       3.5       19.5
11  142.9      29.3       12.6
12  240.1      16.7       22.9
13  248.8      27.1       22.9

## 4. JSON

In [18]:
# reading json file
df=pd.read_json('datasets/employees.json')
df

   id          name                 email  age gender
0   1   Emaployee 1   employee1@email.com   30      F
1   2   Emaployee 2   employee2@email.com   22      F
2   3   Emaployee 3   employee3@email.com   27      F
3   4   Emaployee 4   employee4@email.com   25      M
4   5   Emaployee 5   employee5@email.com   32      M
5   6   Emaployee 6   employee6@email.com   24      F
6   7   Emaployee 7   employee7@email.com   19      M
7   8   Emaployee 8   employee8@email.com   35      F
8   9   Emaployee 9   employee9@email.com   30      M
9  10  Emaployee 10  employee10@email.com   23      F

In [19]:
# writing dat to json file
df.to_json('datasets/new-employees.json')

# check
f = open('datasets/new-employees.json', 'r')
print(f.read())

{"id":{"0":1,"1":2,"2":3,"3":4,"4":5,"5":6,"6":7,"7":8,"8":9,"9":10},"name":{"0":"Emaployee 1","1":"Emaployee 2","2":"Emaployee 3","3":"Emaployee 4","4":"Emaployee 5","5":"Emaployee 6","6":"Emaployee 7","7":"Emaployee 8","8":"Emaployee 9","9":"Emaployee 10"},"email":{"0":"employee1@email.com","1":"employee2@email.com","2":"employee3@email.com","3":"employee4@email.com","4":"employee5@email.com","5":"employee6@email.com","6":"employee7@email.com","7":"employee8@email.com","8":"employee9@email.com","9":"employee10@email.com"},"age":{"0":30,"1":22,"2":27,"3":25,"4":32,"5":24,"6":19,"7":35,"8":30,"9":23},"gender":{"0":"F","1":"F","2":"F","3":"M","4":"M","5":"F","6":"M","7":"F","8":"M","9":"F"}}

In [20]:
# writing dat to json file
df.to_json('datasets/new-employees1.json',orient='records')

# check
f = open('datasets/new-employees1.json', 'r')
print(f.read())

[{"id":1,"name":"Emaployee 1","email":"employee1@email.com","age":30,"gender":"F"},{"id":2,"name":"Emaployee 2","email":"employee2@email.com","age":22,"gender":"F"},{"id":3,"name":"Emaployee 3","email":"employee3@email.com","age":27,"gender":"F"},{"id":4,"name":"Emaployee 4","email":"employee4@email.com","age":25,"gender":"M"},{"id":5,"name":"Emaployee 5","email":"employee5@email.com","age":32,"gender":"M"},{"id":6,"name":"Emaployee 6","email":"employee6@email.com","age":24,"gender":"F"},{"id":7,"name":"Emaployee 7","email":"employee7@email.com","age":19,"gender":"M"},{"id":8,"name":"Emaployee 8","email":"employee8@email.com","age":35,"gender":"F"},{"id":9,"name":"Emaployee 9","email":"employee9@email.com","age":30,"gender":"M"},{"id":10,"name":"Emaployee 10","email":"employee10@email.com","age":23,"gender":"F"}]

## 5. XML

In [21]:
f = open('datasets/employees.xml', 'r')
print(f.read())

<?xml version="1.0" encoding="UTF-8"?>
<employees>
   <employee>
      <age>30</age>
      <email>employee1@email.com</email>
      <gender>F</gender>
      <id>1</id>
      <name>Emaployee 1</name>
   </employee>
   <employee>
      <age>22</age>
      <email>employee2@email.com</email>
      <gender>F</gender>
      <id>2</id>
      <name>Emaployee 2</name>
   </employee>
   <employee>
      <age>27</age>
      <email>employee3@email.com</email>
      <gender>F</gender>
      <id>3</id>
      <name>Emaployee 3</name>
   </employee>
   <employee>
      <age>25</age>
      <email>employee4@email.com</email>
      <gender>M</gender>
      <id>4</id>
      <name>Emaployee 4</name>
   </employee>
   <employee>
      <age>32</age>
      <email>employee5@email.com</email>
      <gender>M</gender>
      <id>5</id>
      <name>Emaployee 5</name>
   </employee>
   <employee>
      <age>24</age>
      <email>employee6@email.com</email>
      <gender>F</gender>
      <id>6</id>
      <name>Emaployee 6</name>
   </employee>
   <employee>
      <age>19</age>
      <email>employee7@email.com</email>
      <gender>M</gender>
      <id>7</id>
      <name>Emaployee 7</name>
   </employee>
   <employee>
      <age>35</age>
      <email>employee8@email.com</email>
      <gender>F</gender>
      <id>8</id>
      <name>Emaployee 8</name>
   </employee>
   <employee>
      <age>30</age>
      <email>employee9@email.com</email>
      <gender>M</gender>
      <id>9</id>
      <name>Emaployee 9</name>
   </employee>
   <employee>
      <age>23</age>
      <email>employee10@email.com</email>
      <gender>F</gender>
      <id>10</id>
      <name>Emaployee 10</name>
   </employee>
</employees>

In [22]:
# reading xml file
import xml.etree.ElementTree as ET
import pandas as pd

# Read file
xml_data = open('datasets/employees.xml', 'r').read()  
# Parse XML
root = ET.XML(xml_data) 

tags = []
columns = []
isread = False
for child in root:
    tag = {}
    for subchild in child: 
        if not isread:
            columns.append(subchild.tag)
        tag[subchild.tag] = subchild.text
    
    if not isread:
        isread = True    
    tags.append(tag)
            
df = pd.DataFrame(tags,columns=columns)
df

  age                 email gender  id          name
0  30   employee1@email.com      F   1   Emaployee 1
1  22   employee2@email.com      F   2   Emaployee 2
2  27   employee3@email.com      F   3   Emaployee 3
3  25   employee4@email.com      M   4   Emaployee 4
4  32   employee5@email.com      M   5   Emaployee 5
5  24   employee6@email.com      F   6   Emaployee 6
6  19   employee7@email.com      M   7   Emaployee 7
7  35   employee8@email.com      F   8   Emaployee 8
8  30   employee9@email.com      M   9   Emaployee 9
9  23  employee10@email.com      F  10  Emaployee 10

In [72]:
!pip3 install xmlformatter

Collecting xmlformatter
  Downloading xmlformatter-0.2.2.tar.gz (14 kB)
Building wheels for collected packages: xmlformatter
  Building wheel for xmlformatter (setup.py) ... done
  Created wheel for xmlformatter: filename=xmlformatter-0.2.2-py3-none-any.whl size=11075 sha256=b16d9ccb028db5c5cd2082de82620bfbb9e20f45f4bb24bb57be88a959fa0874
  Stored in directory: /home/agusk/.cache/pip/wheels/39/45/7e/9c780e92d9a0660443790a3f691178f4f7e776056e0ae99410
Successfully built xmlformatter
Installing collected packages: xmlformatter
Successfully installed xmlformatter-0.2.2

In [25]:
# writing data to XML
import xml.dom.minidom

header = df.columns
# Root element
root = ET.Element('employees')  

for i,row in df.iterrows():
    item = ET.SubElement(root, 'employee')
    for column in df:
        subitem = ET.SubElement(item, column)
        subitem.text = row[column]

xml_data = ET.tostring(root, encoding='unicode', xml_declaration=True)
dom = xml.dom.minidom.parseString(xml_data)
pretty_xml = dom.toprettyxml()

with open('datasets/new-employees.xml', 'w') as f: 
    f.write(pretty_xml)
#     f.write(xml_data)

# check
f = open('datasets/new-employees.xml', 'r')
print(f.read())

<?xml version="1.0" ?>
<employees>
	<employee>
		<age>30</age>
		<email>employee1@email.com</email>
		<gender>F</gender>
		<id>1</id>
		<name>Emaployee 1</name>
	</employee>
	<employee>
		<age>22</age>
		<email>employee2@email.com</email>
		<gender>F</gender>
		<id>2</id>
		<name>Emaployee 2</name>
	</employee>
	<employee>
		<age>27</age>
		<email>employee3@email.com</email>
		<gender>F</gender>
		<id>3</id>
		<name>Emaployee 3</name>
	</employee>
	<employee>
		<age>25</age>
		<email>employee4@email.com</email>
		<gender>M</gender>
		<id>4</id>
		<name>Emaployee 4</name>
	</employee>
	<employee>
		<age>32</age>
		<email>employee5@email.com</email>
		<gender>M</gender>
		<id>5</id>
		<name>Emaployee 5</name>
	</employee>
	<employee>
		<age>24</age>
		<email>employee6@email.com</email>
		<gender>F</gender>
		<id>6</id>
		<name>Emaployee 6</name>
	</employee>
	<employee>
		<age>19</age>
		<email>employee7@email.com</email>
		<gender>M</gender>
		<id>7</id>
		<name>Emaployee 7</name>
	</employee>
	<employee>
		<age>35</age>
		<email>employee8@email.com</email>
		<gender>F</gender>
		<id>8</id>
		<name>Emaployee 8</name>
	</employee>
	<employee>
		<age>30</age>
		<email>employee9@email.com</email>
		<gender>M</gender>
		<id>9</id>
		<name>Emaployee 9</name>
	</employee>
	<employee>
		<age>23</age>
		<email>employee10@email.com</email>
		<gender>F</gender>
		<id>10</id>
		<name>Emaployee 10</name>
	</employee>
</employees>

## 6. Reading File from Website

In [26]:
# reading csv file from website
df=pd.read_csv('http://dataset.ilmudata.id/advertising.csv', sep=',')
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

In [27]:
# with basic auth
df=pd.read_csv('http://dataset.ilmudata.id/private/advertising.csv', sep=',')
df

HTTPError: HTTP Error 401: Unauthorized

In [28]:
import requests
from requests.auth import HTTPBasicAuth
import pandas as pd
from io import StringIO

csv = requests.get("http://dataset.ilmudata.id/private/advertising.csv", auth=HTTPBasicAuth("tester", "RsTS)iH+M#sY"))
df = pd.read_csv(StringIO(csv.text))
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

## 7. Reading File from Server-based S3 Protocol

In [79]:
!pip3 install boto3

Collecting boto3
  Downloading boto3-1.17.29-py2.py3-none-any.whl (131 kB)
     |████████████████████████████████| 131 kB 21.4 MB/s eta 0:00:01
Collecting botocore<1.21.0,>=1.20.29
  Downloading botocore-1.20.29-py2.py3-none-any.whl (7.3 MB)
     |████████████████████████████████| 7.3 MB 32.1 MB/s eta 0:00:01
Collecting jmespath<1.0.0,>=0.7.1
  Downloading jmespath-0.10.0-py2.py3-none-any.whl (24 kB)
Collecting s3transfer<0.4.0,>=0.3.0
  Downloading s3transfer-0.3.4-py2.py3-none-any.whl (69 kB)
     |████████████████████████████████| 69 kB 8.3 MB/s  eta 0:00:01
Requirement already satisfied: python-dateutil<3.0.0,>=2.1 in /home/agusk/.local/lib/python3.8/site-packages (from botocore<1.21.0,>=1.20.29->boto3) (2.8.1)
Requirement already satisfied: urllib3<1.27,>=1.25.4 in /usr/lib/python3/dist-packages (from botocore<1.21.0,>=1.20.29->boto3) (1.25.8)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil<3.0.0,>=2.1->botocore<1.21.0,>=1.20.29->boto3) (1.14.0)
Installing collected packages: jmespath, botocore, s3transfer, boto3
Successfully installed boto3-1.17.29 botocore-1.20.29 jmespath-0.10.0 s3transfer-0.3.4

In [29]:
import boto3
from botocore.client import Config
import pandas as pd
from io import BytesIO

s3 = boto3.resource('s3',
                    endpoint_url='http://localhost:9000',
                    aws_access_key_id='minioadmin',
                    aws_secret_access_key='minioadmin',
                    config=Config(signature_version='s3v4'),
                    region_name='us-east-1')


bucket, filename = "ilmudata", "advertising.csv"
obj = s3.Object(bucket, filename)
with BytesIO(obj.get()['Body'].read()) as content:
    df = pd.read_csv(content)
    
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]